#navbar{
    display: flex;
    margin:10px;
    justify-content: right;
    gap:10px;
    /* font-size: 15px; */
}
/* #inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    border: 2px solid red;
    /* height:200px;
    width: 200px; */
/* } */
#image_andar{
    height: 200px;
    width: 200px;
} 
#items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
