#navbar{
    display: flex;
    justify-content: right;
    gap:20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;

}
#login-form-div{
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    align-content: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
input{
    display: block;
    width: 400px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
}
#submit{
    background-color: teal;
    width: 150px;
    color: aliceblue;
    border-radius: 10px;
}